pandas
tqdm
argparse
pathlib
scikit-learn
numpy
torch
transformers==4.38.2
sentencepiece==0.2.0
nltk
datasets
openai==0.28.1
openprompt
pykeen
yacs==0.1.8
tensorboardX==2.6
rouge==1.0.0
matplotlib==3.10.8
plotly==6.5.2
tenacity==9.1.2
python-dotenv==1.2.1
